streamlit>=1.29.0

langchain>=0.2.14
langchain-community>=0.2.14
langchain-text-splitters>=0.2.2
langchain-google-genai>=1.0.8

chromadb>=0.4.24
sentence-transformers>=2.6.1
pypdf>=4.0.0

python-dotenv>=1.0.1
