streamlit==1.29.0
langchain==0.2.35
langchain-community==0.0.65
langchain-google-genai==0.0.8
langchain-text-splitters==0.0.7
langchain-huggingface==0.0.6
sentence-transformers==2.2.2
chromadb==0.4.24
pypdf==3.17.0
torch==2.1.2
